
html {
    font-size: 16px; /* 1rem i mobil mobil versjon*/
}

@media screen and (min-width: 700px) {
    html {
        font-size: 20px; /* 1 rem i desktop verjon*/
    }
}


body {
    background-color: cadetblue;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(187, 243, 245);
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: auto;
    align-items: center;
    padding-bottom: 1rem;
    
}

.climbing-logo {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-widht: 700px) {
    .climbing-logo {
        width: 350px;
    }

}

header nav {
    display:flex;
}

@media screen and (min-width: 700px) {
    header nav{
        display: block;
    }
}

main {
    background-image: url(../assets/fjell-bakgrunn-blå.jpg);
    background-image: no-repeat;
    background-size :cover;
    background-position: center;
}

ul {
    color: black;
    list-style: none;
    display: inline;

}

li {
display: inline;
margin-inline: 3rem;
margin-bottom: 2rem;
padding-bottom: 2rem;
}

ul :hover { 
    color: black;
    text-decoration: underline;
}

.box-1 {
    display: flex;
    height: auto;
    max-width: 100%;
    align-content: center;    
}

section {
    max-width: 50%;
}

@media screen and (min-width: 700px) {
    .sikrer-belayer {
        max-width: 50%;
        height: auto;
        padding: 1rem 1rem 1rem 1rem;
        display: flex;
        border-radius: 50px;
    }
}

@media screen and (max-width: 700px) {
    .sikrer-belayer{
        max-width: 50%;
        height: auto;
        width: auto;
        border-radius: 50px;
        margin: 2rem;
    }
}

.box2 {
    display: flex;
    height: auto;
    max-width: 100%;
    padding: 1rem;
    align-content: center;
    margin: 2rem;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .box2 {
        display: flex;
        height: auto;
        max-width: 100%;
        padding: 1rem;
        align-content: center;
        margin: 2rem;
        overflow: hidden;
    }
}
@media screen and (min-width: 700px){
    .jannicke-klatrer-bilde {
        max-width: 50%;
        height: auto;
        width: auto;
        padding: 1rem 1rem; 
        display: flex;
        margin: 1rem;
        border-radius: 50px;
    
    }
}

@media screen and (max-width: 700px){
    .jannicke-klatrer-bilde {
        max-width: 50%;
        height: auto;
        padding: 1rem 1rem; 
        display: flex;
        margin: 1rem;
        border-radius: 50px;
    }
}


.box3 {
    position: center;
    height: auto;
    width: 100%;
    padding-left: 1rem;
    margin: auto;
    display: flex;
}

.my-box {
    width: auto;
    height: auto;
    background-image: url('../assets/Fjell-bakrunn.jpg');
    background-image: no-repeat;
    background-size :cover;
    background-position: center;
    background-color: #655F6F;
    justify-content: space-between;
    position: center;
}

button :hover {
    padding: 1rem;
    align-items:center;
    display:inline-flex;
    border-radius: 50px;
    border-color: black;
    justify-content: space-between;
    position: center;
}
